*{
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 2rem 0 2rem;
}

h1{
    font-size: 20pt;
    width: 100%;
}

h3{
    font-size: 16pt;
    width: 100%;
}

h5{
    font-size: 14pt;
    width: 100%;
}

p{
    text-align: justify;
}

#main_page{
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
    grid-template-rows: repeat(13, auto);
    grid-template-areas: 
        "div_head_area   div_head_area          div_head_area"
        "div_head_area   div_head_area          div_head_area"
        "div_nav_area    div_art_header_area    div_art_header_area"
        "div_nav_area    div_sec1_header_area   div_sec1_header_area"
        "div_nav_area    div_sec1_img_area      div_sec1_text_area"
        "div_nav_area    div_sec1_img_area      div_sec1_text_area"
        "div_nav_area    div_sec2_header_area   div_sec2_header_area"
        "div_nav_area    div_sec2_img_area      div_sec2_text_area"
        "div_nav_area    div_sec2_img_area      div_sec2_text_area"
        "div_nav_area    div_sec3_header_area   div_sec3_header_area"
        "div_nav_area    div_sec3_img_area      div_sec3_text_area"
        "div_nav_area    div_sec3_img_area      div_sec3_text_area"
        "div_foot_area   div_foot_area          div_foot_area";
}

#div_head{
    grid-area: div_head_area;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: rgb(182, 182, 182);
    padding: 10px;
}

.headeritem_logo{
    width: 20%;
}

.headeritem_text{
    flex: 1 1 auto;
}

.headeritem_text h1{
    text-align: center;
    color: rgb(45, 3, 230);
    font-size: 20pt;
}

#div_nav{
    grid-area: div_nav_area;
    background-color: #cccccc;
    padding: 20px;
}

#div_nav ul{
    list-style-type: none;
    padding: 0;
}

#div_nav li{
    padding-bottom: 12px;
}

#div_art_header{
    grid-area: div_art_header_area;
    padding: 10px;
    background-color: #f1f1f1;
}

#div_sec1_header{
    grid-area: div_sec1_header_area;
    padding: 10px;
    background-color: #f1f1f1;
}

#div_sec1_img{
    grid-area: div_sec1_img_area;
    padding: 10px;
    background-color: #f1f1f1;
}

#div_sec1_text{
    grid-area: div_sec1_text_area;
    padding: 10px;
    background-color: #f1f1f1;
}

#div_sec2_header{
    grid-area: div_sec2_header_area;
    padding: 10px;
    background-color: #f1f1f1;
}

#div_sec2_img{
    grid-area: div_sec2_img_area;
    padding: 10px;
    background-color: #f1f1f1;
}

#div_sec2_text{
    grid-area: div_sec2_text_area;
    padding: 10px;
    background-color: #f1f1f1;
}

#div_sec3_header{
    grid-area: div_sec3_header_area;
    padding: 10px;
    background-color: #f1f1f1;
}

#div_sec3_img{
    grid-area: div_sec3_img_area;
    padding: 10px;
    background-color: #f1f1f1;
}

#div_sec3_text{
    grid-area: div_sec3_text_area;
    padding: 10px;
    background-color: #f1f1f1;
}

#div_foot{
    grid-area: div_foot_area;
    background-color: rgb(182, 182, 182);
    padding: 10px;
    text-align: center;
    color: rgb(45, 3, 230);
}

@media screen and (max-width: 1024px){
    #main_page{
        grid-template-areas: 
        "div_head_area   div_head_area          div_head_area"
        "div_head_area   div_head_area          div_head_area"
        "div_nav_area    div_art_header_area    div_art_header_area"
        "div_nav_area    div_sec1_header_area   div_sec1_header_area"
        "div_nav_area    div_sec1_img_area      div_sec1_img_area"
        "div_nav_area    div_sec1_text_area     div_sec1_text_area"
        "div_nav_area    div_sec2_header_area   div_sec2_header_area"
        "div_nav_area    div_sec2_img_area      div_sec2_img_area"
        "div_nav_area    div_sec2_text_area     div_sec2_text_area"
        "div_nav_area    div_sec3_header_area   div_sec3_header_area"
        "div_nav_area    div_sec3_img_area      div_sec3_img_area"
        "div_nav_area    div_sec3_text_area     div_sec3_text_area"
        "div_foot_area   div_foot_area          div_foot_area";
    }
}

@media screen and (max-width: 600px){
    #main_page{
        grid-template-areas: 
        "div_head_area        div_head_area          div_head_area"
        "div_nav_area         div_nav_area           div_nav_area" 
        "div_art_header_area  div_art_header_area    div_art_header_area"
        "div_sec1_header_area div_sec1_header_area   div_sec1_header_area"
        "div_sec1_img_area    div_sec1_img_area      div_sec1_img_area"
        "div_sec1_text_area   div_sec1_text_area     div_sec1_text_area"
        "div_sec2_header_area div_sec2_header_area   div_sec2_header_area"
        "div_sec2_img_area    div_sec2_img_area      div_sec2_img_area"
        "div_sec2_text_area   div_sec2_text_area     div_sec2_text_area"
        "div_sec3_header_area div_sec3_header_area   div_sec3_header_area"
        "div_sec3_img_area    div_sec3_img_area      div_sec3_img_area"
        "div_sec3_text_area   div_sec3_text_area     div_sec3_text_area"
        "div_foot_area        div_foot_area          div_foot_area";
    }
}